snippet nn "nnoremap"
nnoremap <leader>${1:key} ${2:command}<CR>$0
endsnippet

snippet vn "vnoremap"
vnoremap <leader>${1:key} ${2:command}<CR>$0
endsnippet

snippet in "inoremap"
inoremap <leader>${1:key} ${2:command}<CR>$0
endsnippet

snippet autocmd "autocmd"
autocmd ${1:event} ${2:filetype} ${3:command}
endsnippet

snippet augroup "augroup"
augroup ${1:NAME}
	autocmd!
	$0
augroup END
endsnippet
