snippet b "Bold Text"
*$0*
endsnippet

snippet i "Italic Text"
_$0_
endsnippet

snippet bi "Bold Italic"
*_$0_*
endsnippet

snippet ib "Italic Bold"
_*$0*_
endsnippet

snippet $ "Inline Mathematical Expression"
$ $0 $
endsnippet

snippet \frac "Fraction"
\frac{${1:numerator}}{${2:denominator}} $0
endsnippet
